.titleContainer{
    color: white;
    padding-left: 50px;
    font-size: 3rem;
    width: fit-content;
    font-family: var(--title-font);
}

.pageTitle{
    margin: 0;
}

.openingText{
    margin: 0;
}

.subjectContainer{
    position: relative;
}

.subjectText1{
    position: relative;
    background-image: linear-gradient(45deg, var(--green-2), rgb(171,32,253));
    background-clip: text;
    color: transparent;
}

.subjectContainer::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--green-1);
    z-index: 2;
    animation: subject-slide 4500ms infinite ease-in-out;
    border-radius: 10px;
}

.subjectText1, .subjectText2{
    margin: 0;
}